<!--@subject {{trans "Test" store_name=$store.getFrontendName()}} @-->
{{template config_path="design/email/header_template"}}
<table class="greetings">
    <tr>
        <th>
            Greetings {{var name}}
        </th>
    </tr>
</table>
<table class="table">
    <tr>
        <th>
            Please, follow this link to view the cart.
        </th>
    </tr>
    <tr>
        <td>
            {{var link}}
        </td>
    </tr>
</table>
<br>
{{if comment }}
<strong>User's comment:</strong>
<table class="table">
    <tr>
        <td bgcolor=#EAEAEA>
            {{var comment}}
        </td>
    </tr>
</table>
<br>
{{/if}}
{{if userEmail }}
<strong>User's email:</strong>
<table class="table">
    <tr>
        <td bgcolor=#EAEAEA>
            {{var userEmail}}
        </td>
    </tr>
</table>
<br>
{{/if}}
<table>
    <tr class="email-intro">
    </tr>
    <tr class="email-information">
        <td>
            {{layout handle="offer_quote_items" quote=$quote area="frontend"}}
        </td>
    </tr>
</table>
<table class="feedback">
    <tr>
        <th>
            Not satisfied with the given offer?
            <br>Please, share your feedback with us so we can improve it.</br>
        </th>
    </tr>
    <tr>
        <td>
            {{var feedback}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}