<!--@subject {{trans "Ihr Warenkorb" store_name=$store.getFrontendName()}} @-->
{{template config_path="design/email/header_template"}}
<table class="greetings">
    <tr>
        <th>
            Hallo {{var name}}
        </th>
    </tr>
</table>
<style>
    span {
        font-weight: normal;
    }
</style>
<table class="table">
    <tr>
        <th>
            <span>wie Sie sicherlich schon bemerkt haben, sind wir sehr innovativ nicht nur in unserer Produktion, sondern auch im Bestellprozess.</span>
            <span><br>Wir senden Ihnen diesen Warenkorb, um noch mehr Service zu bieten.</span>
            <span><br>Unter diesem Link erhalten Sie ihren individuell auf Sie abgestimmten Warenkorb und können wie im Onlinegeschäft gewöhnt, den Bestellprozess eigenständig abschliessen.</span>
            <br>BITTE ÜBERPRÜFEN SIE DIE ANGABEN AUF RICHTIGKEIT!
            <span><br>vielen Dank für Ihre Anfrage.</span>
        </th>
    </tr>
    <tr>
        <td>
            {{var link}}
        </td>
    </tr>
</table>
<br>
{{if comment }}
<strong>Kommentar:</strong>
<table class="table">
    <tr>
        <td bgcolor=#EAEAEA>
            {{var comment}}
        </td>
    </tr>
</table>
<br>
{{/if}}
<table class="text">
    <tr>
        <th>
            Bitte beachten Sie, dass wir bei Auftragserteilung eine Skizze benötigen, falls diese noch nicht vorliegt.
            <span><br>Hier ist nochmal Ihr Warenkorb aufgeführt:</span>
        </th>
    </tr>
</table>
<table>
    <tr class="email-intro">
    </tr>
    <tr class="email-information">
        <td>
            {{layout handle="offer_quote_items" quote=$quote area="frontend"}}
        </td>
    </tr>
</table>
<table class="feedback">
    <tr>
        <th>
            <br>Für weiter Fragen stehen wir Ihnen selbstverständlich gerne zur Verfügung.</br>
        </th>
    </tr>
    <tr>
        <td>
            {{var feedback}}
        </td>
    </tr>
    <tr>
        <th>
            <br>Diesen Warenkorb hat {{var adminUser}} angelegt.
            <br>Mit freundlichen Grüssen
            <br>Troas Team
        </th>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}