<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="quote_grid_listing_data_source" xsi:type="string">Cartshare\Offer\Model\ResourceModel\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <preference for="Cartshare\Offer\Api\Data\OfferInterface" type="Cartshare\Offer\Model\Offer" />
    <preference for="Cartshare\Offer\Api\Data\OfferItemInterface" type="Cartshare\Offer\Model\OfferItem" />
    <type name="\Magento\Checkout\Controller\Cart\Configure">
        <plugin name="check_request_param"
                type="\Cartshare\Offer\Plugin\Cart\ConfigurePlugin"
                sortOrder="1" />
    </type>
</config>
